* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    font-size: 62.5%;    
}

body {
    /* position: relative; */
    display: flex;
    align-items: center; /* Y */
    justify-content: center; /* X */
    gap: 19.2rem;

    min-width: 100vw;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;    

}

.timer-functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
}

.timer-functions .timer {
    font-size: 12.6166rem;
    line-height: 148px;
    text-transform: uppercase;
    color: #323238;

    display: flex;
}

.timer-functions .buttons {
    display: flex;
    gap: 4rem;

}

.sounds-wrapper {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr;
}

button {
    border: none;    
    background-color: white;
    color: #323238;
    cursor: pointer;

}

.buttons button {
    position: relative;
    border-radius: 6rem;
}

.buttons button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 3rem;
    left: 0.4rem;
    top: 0.4rem;
    width: 85%;
    height: 85%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px #02799D;
  }
  
.buttons button:active:after {
    box-shadow: 0 0 0 0 #02799D;
    position: absolute;
    border-radius: 3rem;
    left: 0.4rem;
    top: 0.4rem;
    opacity: 1;
    transition: 0s;
}
  
.buttons button:active {
    top: 1px;
}

.select {
    animation: bigger 0.8s;
}

.soundSelect path:nth-child(1){
    transition: 0.8s;
    fill: #02799D;
}

.soundSelect path:nth-child(2) {
    transition: 0.8s;
    fill: white;
}

input.select, input.select::-webkit-slider-thumb {
    transition: .8s;
    background: white;
}

/* Light and Dark Mode  */

.disable {
    display: none;
    opacity: 0;
}

.light {
    position: absolute;    
    top: 6rem;
    right: 6rem;    
    cursor: pointer;
}

.dark {
    position: absolute;    
    top: 6.4rem;
    right: 6.4rem;    
    cursor: pointer;
}

body.dark-mode {
    background-color: #121214;
}

.timer.dark-mode {
    color: white;
}

.buttons button.dark-mode, .sounds-wrapper button.dark-mode {
    background-color: #121214;
}

.sounds-wrapper button svg.dark-mode path:first-child {
    fill: #29292E;
}

.sounds-wrapper button svg.dark-mode path:last-child {
    fill: #C4C4CC;
}

button.dark-mode.soundSelect path:nth-child(1){
    transition: 0.8s;
    fill: #0A3442;
}

/* Volume  */

.forest-card, .rain-card, .store-card, .camp-card {
    position: relative;
}

input {
    -webkit-appearance: none;
    appearance: none;
    background: #323238;
    outline: none;
    border-radius: .5rem;

    position: absolute;
    left: 2.4rem;
    top: 12rem;
    width: 9rem;
    height: .4rem;
    
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    background: #323238;
    cursor: pointer;
}
  
input::-moz-range-thumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: #323238;
    cursor: pointer; 
}

input.dark-mode, input.dark-mode::-webkit-slider-thumb {
    background: white;
}


@keyframes bigger {
    0% {
        transform: scale(1);        
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 840px) {
    body {
        flex-direction: column;
        gap: clamp(5rem, 5rem + 8vw, 19rem);
        min-width: 90vw;
        min-height: 90vh;
        padding: 2rem;
    }

    .light-mode {
        transition: .5s;
        top: 2rem;
        right: 2rem;
    }

    .night-mode {
        transition: .5s;
        top: 2.3rem;
        right: 2.3rem;
    }
    
}




